@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>AgroEsi, es una plataforma dirigida especialmente a agricultores y ganaderos, 
   para que sirva como herramienta en sus explotaciones, y puedan estar al tanto de cómo se comportan los mercados de diferentes materias primas,
   previsiones meteorológicas y otras estadísticas que puedan resultar de interés.</p>
